<div
  class="container scaleElement p-5 mt-5 shadow text-white fw-bold"
  style="background: transparent"
>
  <h3 class="text-center">📝 Write to me 📝</h3>
  <div class="p-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <label for="firstName">First Name</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="firstName"
        />
      </div>
      <div class="col-md-4">
        <label for="lastName">Last Name</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="lastName"
        />
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <label for="emailAddress">Email Address</label>
        <input
          class="form-control form-control-sm"
          type="email"
          name="emailAddress"
        />
      </div>
      <div class="col-md-4">
        <label for="contactNumber">Contact Number</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="contactNumber"
        />
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 mt-3">
        <label for="message">Message</label>
        <textarea
          class="form-control"
          type="text"
          name="message"
          style="min-height: 250px"
        ></textarea>

        <button class="btn btn-primary fw-bold px-4 mt-3">SEND</button>
      </div>
    </div>
  </div>
</div>
