<div class="mt-5 container scaleElement shadow p-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <img
        src="assets/my_image.png"
        alt=""
        style="width: 95%; height: auto"
        class="rounded-circle scaleItem"
      />
    </div>
    <div class="col-md-4 text-white shadow p-2 scaleItem">
      <h5>Hi....🙋‍♂️👋</h5>

      <h4>I am Chitranjan Sharma</h4>
      <h6>💻 MEAN Full Stack developer 💻</h6>
      <hr />
      <p style="text-align: justify">
        😎 I usually do projects on Angular, Node.js, MongoDB, HTML, CSS, .NET
        Entity Framework Core and deployment on Azure. 🙋‍♂️
      </p>
      <hr />
      <div class="d-flex align-items-center">
        <a
          target="_blank"
          class="me-3"
          href="https://github.com/Chitranjan-Sharma?tab=repositories"
        >
          <img
            src="assets/github_logo.png"
            alt="NA"
            style="width: 45px; height: 45px"
          />
        </a>
        <a
          target="_blank"
          class="me-3"
          href="https://www.linkedin.com/in/chitranjan-sharma-8bb695268/"
        >
          <img
            src="assets/linkedin_logo.png"
            alt="NA"
            style="width: 45px; height: 45px"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="text-center text-white w-100 mt-5">
    <marquee width="auto" direction="left">
      <div class="d-flex justify-content-evenly">
        <div class="d-flex align-items-center">
          <img
            class="me-3"
            src="https://img.icons8.com/external-flaticons-flat-flat-icons/48/null/external-phone-web-flaticons-flat-flat-icons-3.png"
            style="width: 40px; height: 40px"
          />
          <label style="font-size: 28px">+91 78273 03590</label>
        </div>

        <div class="d-flex align-items-center">
          <img
            class="me-3"
            src="https://img.icons8.com/fluency/48/null/circled-envelope.png"
            style="width: 40px; height: 40px"
          />
          <label style="font-size: 28px">chitranjank.co@gmail.com</label>
        </div>
      </div>
    </marquee>
  </div>
</div>

<div class="container scaleElement mt-5 shadow p-5">
  <h3 class="text-white text-center">👨‍💻 Technologies 👨‍💻</h3>
  <div class="row d-flex justify-content-evenly p-5 align-items-center">
    <img
      class="iconScale"
      src="assets/angular.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/mongo_db.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/express_js.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/node_js.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/react_log.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/dotnet_core.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/android_std.png"
      alt=""
      style="width: 80px"
    />
    <img class="iconScale" src="assets/sql_db.png" alt="" style="width: 80px" />
  </div>
</div>
