<div class="mt-5 container scaleElement shadow p-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <img
        src="assets/my_image.png"
        alt=""
        style="width: 95%; height: auto"
        class="rounded-circle scaleItem"
      />
    </div>
    <div class="col-md-4 text-white shadow p-2 scaleItem">
      <h5>Hi....🙋‍♂️👋</h5>

      <h4>I am Chitranjan Sharma</h4>
      <h6>💻 MEAN Full Stack developer 💻</h6>
      <hr />
      <p>
        😎 I usually do projects on Angular, Node.js, MongoDB, HTML, CSS, .NET
        Entity Core Framework and deployment on Azure.🙋‍♂️
      </p>
      <hr />
      <div class="d-flex align-items-center">
        <a class="me-3" href="/">
          <img
            src="assets/github_logo.png"
            alt="NA"
            style="width: 45px; height: 45px"
          />
        </a>
        <a class="me-3" href="/">
          <img
            src="assets/linkedin_logo.png"
            alt="NA"
            style="width: 45px; height: 45px"
          />
        </a>
      </div>
    </div>
  </div>
</div>
