<app-about></app-about>

<div class="container scaleElement mt-5 shadow p-5">
  <h3 class="text-white text-center">👨‍💻 Technologies 👨‍💻</h3>
  <div class="row d-flex justify-content-evenly p-5 align-items-center">
    <img
      class="iconScale"
      src="assets/angular.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/mongo_db.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/express_js.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/node_js.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/react_log.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/dotnet_core.png"
      alt=""
      style="width: 80px"
    />
    <img
      class="iconScale"
      src="assets/android_std.png"
      alt=""
      style="width: 80px"
    />
    <img class="iconScale" src="assets/sql_db.png" alt="" style="width: 80px" />
  </div>
</div>

<div class="container scaleElement mt-5 shadow p-5">
  <h3 class="text-white text-center">💡 Projects 💡</h3>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-4 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        WhatsApp Web Clone
      </h6>
      <iframe
        class="rounded w-100"
        height="250px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/234886797-00d56c78-89e1-4894-81f0-b2b1e1f27030.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-4 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        E-Commerce Website
      </h6>
      <iframe
        class="rounded w-100"
        height="250px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/232341478-42b2ab8d-25a2-4e55-9b42-ed5e6c0ee594.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-4 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        Air Ticket Reservation System
      </h6>
      <iframe
        class="rounded w-100"
        height="250px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/234994204-f596b535-2d64-4803-ad05-e7ff8146a77c.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<app-contact></app-contact>
