<div class="container scaleElement mt-5 shadow p-5">
  <h3 class="text-white text-center">💡 Projects 💡</h3>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        WhatsApp Web Clone
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/234886797-00d56c78-89e1-4894-81f0-b2b1e1f27030.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        E-Commerce Website
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/232341478-42b2ab8d-25a2-4e55-9b42-ed5e6c0ee594.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        Air Ticket Reservation System
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/234994204-f596b535-2d64-4803-ad05-e7ff8146a77c.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        Short NEWS App
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/235237863-807cbbec-ec5a-4b6b-8b0c-463baab59c61.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        TODO Task App
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/232902482-4b33a148-b8f1-4f5d-9245-06d69374c8f0.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 position-relative mt-3">
      <h6 class="text-white text-center position-absolute p-2 top-0 m-2">
        ATR System Admin Side
      </h6>
      <iframe
        class="rounded w-100"
        height="300px"
        style="object-fit: contain"
        src="https://user-images.githubusercontent.com/119840303/235251817-5a34001c-1972-460e-bd21-fc410f296670.mp4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
